body{
	width: 100%
	height: 1000px;
}
#nav{
	width: 100%;
}

#list{
	margin-left: 30%;
}

#list li{
	display: inline-block;
	color: white;
	border-right: 2px solid #000000;
	font-size: 30px;
	font-family: 'Indie Flower', cursive;
	background-color: #008db6;
	text-align: center;
}

#list a:hover {
	color: green;
}

#p{
	color: white;
	font-size: 30px;
	font-family: 'Indie Flower', cursive;
	text-align: center;
	background-color: #072d94;

}