body{
	width: 100%;
	height: 1000px;
}

h1{
	color: white;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 40px;
	text-align: center;
	text-decoration: underline;

}

#list li{
	color: white;
	display: inline-block;
	font-size: 25px;
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
	background-color: #0000ff;
	margin-left: 25%;
}

#list li:hover{
	color: red;
}

#li{
	color: white;
	font-family: Arial;
	font-size: 15px;
}

#bt{
	color: white;
	font-family: Arial;
	font-size: 15px;
}