body{
	width: 100%;
	height: 1000px;
	background-color: #f47142;
}

@media only screen and (min-width: 465px) {
	body {
		background-color: #f4d142;
	}
}

#nav{
	width: 100%;
}

h1{
	font-family: Arial; 
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	color: white;
}
@media only screen and (min-width: 465px){
	h1{
		font-family: Arial;
		font-size: 1em;
		text-align: center;
		text-decoration: underline;
		color:black;
	}
}

#p{
	font-family: Impact, Charcoal, sans-serif;
	font-size: 0.9em;
	color: white;
}

@media only screen and (min-width: 465px){
	#p{
		font-family: Impact, Charcoal, sans-serif;
		font-size: 0.9em;
		color:black;
	}
}

ul{
	margin:auto;
	padding: 0;
	background-color: white;
}

@media only screen and (min-width: 465px){
	ul{
		margin: auto;
		padding: 0;
		background-color: #6a7539;
	}
}

#list{
	margin-left: 15%
}

#list li{
	display: inline-block;
	border-right: 2px solid #000000;
	float: left;
	text-align: center;
	font-family: 'Indie Flower', cursive;
	font-size: 0.7em;
}

li a{
	display: block;
	color: white;
	padding: 14px 10px;
	margin: center;
	width: 150px;
	text-align: left;
}

@media only screen and (min-width: 465px){
	li a{
		display: block;
		color: black;
		padding: 14px 10px;
		margin: center;
		width: 150px;
		text-align: center;
	}
}

li a:hover {
	background: #42c2f4;
}
