body{
	margin: 0;
	width: 100%
}

h1{
    text-align: center;
    color: black;
}

#nav{
    position: relative;
    margin: 0;
	width: 100%;
    height: 50px;
}

#topnav ul{
    margin: 0;
}

#topnav{
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: black;
    text-align: center;
}

#topnav li {
    display: inline-block;
	width: 13%;
}

#topnav li a {
    margin: auto;
	display: inline-block;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
}

#topnav li a:hover{
	background-color: grey;
}

@media screen and (max-width: 680px){
	ul.topnav li:not (:first-child) {
		display: none;
	}
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.topnav.responsive li {
    float: none;
    display: inline;
  }

  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
.slide {
    width: 800px;
    height: 400px;
    margin:auto;
}

.slide img {
    width: 100%;
    height: 100%;
}

#video{
    background-color: red;
}

#Training h2 {
    font-size: 3em;
    text-decoration: underline;
    text-align: center;
}
#Training ul {
    text-align: center;
    list-style: none;
}

#training ul li{
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
}

#mainbody {
    position: relative;
    margin: 0;
    width: 100%;
    height: 1054px;
    background-color: blue;
    background-size:100% 100%;
 
}




















